<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{layout::layout(~{::#main})}">
<head>
    <meta charset="UTF-8">
    <title>addpost</title>
<!--    메인 화면에서 디자인 등록 클릭 시 이동하는 디자인 등록 화면-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<div id="main">
    <h2>디자인 등록</h2>
    <form th:action="@{/api/design/addpost}" enctype="multipart/form-data" method="post">
        <!--     enctype="multipart/form-data"-->
        <label>이름</label><input type="text" placeholder="제목" name="designName"><br>
        <label>디자인 설명</label><br><textarea cols="50" rows="10" placeholder="디자인 설명" name="designEx"></textarea><br>
        <label>이미지<input type="file" name="designImagePath"  accept="image/jpeg"></label><br>
        <label>카테고리<select name="category">
            <option value=1>가방</option>
            <option value=2>의류</option>
            <option value=3>지갑</option>
        </select></label><br>
        <label>소재<select name="material">
            <option value=1>가죽</option>
            <option value=2>천</option>
        </select></label><br>
        <label>공개여부<select name="designState">
            <option value=1>공개</option>
            <option value=0>비공개</option>
        </select></label><br>
        <!--    /**-->
        <!--    * TODO 소재 select 타입으로 작성하기-->
        <!--    */-->
        <input type="submit" id="addShare" value="공유 게시판에 공유"></input>
        <input type="submit" id="addMypage" value="마이페이지에 저장"></input>
    </form>

    <!--<form th:action="@{/api/design/addpost}" enctype="multipart/form-data" th:method="post">-->
    <!--    &lt;!&ndash;     enctype="multipart/form-data"&ndash;&gt;-->
    <!--    <label>이름</label><input type="text" placeholder="제목" name="designName" id="designName"><br>-->
    <!--    <label>디자인 설명</label><br><textarea cols="50" rows="10" placeholder="디자인 설명" name="designEx" id="designEx"></textarea><br>-->
    <!--    <label>이미지<input type="file" name="designImagePath" id="designImagePath"></label><br>-->
    <!--    <label>카테고리<select name="category" id="category">-->
    <!--        <option value=1>가방</option>-->
    <!--        <option value=2>의류</option>-->
    <!--        <option value=3>지갑</option>-->
    <!--    </select></label><br>-->
    <!--    <label>소재<select name="material" id="material">-->
    <!--        <option value=1>가죽</option>-->
    <!--        <option value=2>천</option>-->
    <!--    </select></label><br>-->
    <!--    <label>공개여부<select name="designState">-->
    <!--        <option value=1>공개</option>-->
    <!--        <option value=0>비공개</option>-->
    <!--    </select></label><br>-->
    <!--    <br>-->
    <!--    &lt;!&ndash;    /**&ndash;&gt;-->
    <!--    &lt;!&ndash;    * TODO 소재 select 타입으로 작성하기&ndash;&gt;-->
    <!--    &lt;!&ndash;    */&ndash;&gt;-->

    <!--    <button class="addShare">공유 게시판에 공유</button>-->
    <!--    <button class="addMypage">마이페이지에 저장</button>-->
    <!--</form>-->


    <!--스크립트-->
    <!--<script th:inline="javascript">-->
    <!--    $('.addShare').click(function() {-->
    <!--        var formData = new FormData();-->
    <!--        var inputFile = $("input[type='file']");-->
    <!--        var files = inputFile[0].files;-->
    <!--        const attachFiles = new Array();-->

    <!--        formData.append('designName', $('designName').val());-->
    <!--        formData.append('designEx', $('designEx').val());-->
    <!--        // formData.append('designImagePath', $('designImagePath').val());-->
    <!--        formData.append('category', $('category').val());-->
    <!--        formData.append('material', $('material').val());-->

    <!--        Array.form($('#designImagePath')[0].files).map(e=>formData.append('designImagePath', e));-->

    <!--        // for(var i=0; i<files.length; i++) {-->
    <!--        //     console.log(files[i]);-->
    <!--        //     formData.append("uploadFiles", files[i]);-->
    <!--        // }-->

    <!--        $.ajax({-->
    <!--            url:'/api/design/addpost',-->
    <!--            processData:false,-->
    <!--            contentType:false,-->
    <!--            data:formData,-->
    <!--            type:'POST',-->
    <!--            // dataType:'json',-->
    <!--            async:false,-->
    <!--            // success:function(result) {-->
    <!--            //     console.log(result);-->
    <!--            // },-->
    <!--            // error:function(jqXHR, textStatus, errorThrown) {-->
    <!--            //     console.log(textStatus);-->
    <!--            // }-->
    <!--        })-->
    <!--    });-->
    <!--    // $('#addpost').click((event) {-->
    <!--    //     var formData = new FormData();-->
    <!--    //     var inputFile = $("input[type='file']");-->
    <!--    //     var files = inputFile[0].files;-->
    <!--    //     for(var i=0; i<files.length; i++) {-->
    <!--    //         console.log(files[i]);-->
    <!--    //         formData.append("uploadFiles", files[i]);-->
    <!--    //     }-->
    <!--    // });-->
    </script>
</div>

</body>
</html>